﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">You are logged in as @User.Identity.GetUserName()</a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("AllEvents", "Event")' class="nav-link">All Events</a>
                </li>
                <li class="nav-item">
                    <a href='@Url.Action("MyEvents", "UserEvent")' class="nav-link">My Events</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()" role="button" class="btn btn-outline-danger btn-sm">Log Out</a>
                </li>
            </ul>
        </div>
    }
}
else
{
    <div class="navbar-collapse collapse" id="navbar9">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#upcoming" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#signup" asp-controller="acount" asp-action="register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href='@Url.Action("login", "account")' role="button" class="btn btn-outline-danger btn-sm">Log In</a>
            </li>
        </ul>
    </div>
}
