﻿body {
    overflow-x: hidden;
}

main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.events {
    padding: 0 0 0 0;
    background: rgb(0,0,0);
    height: 0%;
}

.upcoming 
{
    padding: 0 0 0 0;
    background: rgb(253,115,89);
    height: 0%;
    min-height:150px;
}

.title 
{
    color: whitesmoke;
    text-align: center;
    padding:50px;
}

.aboutus
{
    padding: 0 0 0 0;
    background: #2C4050;
    height: 0%;
    min-height: 300px;
}

.p1 
{
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-size:large;
}

.signup 
{
    padding: 0 0 0 0;
    background: whitesmoke;
    height: 0%;
    min-height: 500px;
}

.singlecard
{
    margin: 0 auto;
    max-width: 500px;
    max-height: 300px;
}
