﻿@model IEnumerable<Events_Management_System_Version_2._1.Models.Event>
@{
    /**/

    ViewBag.Title = "Home Page";
}

@if (!(Model.Any()))
{
    <h5>No Events Found</h5>
}
else
{
    int x = 0;

    <section class="upcoming full-width">
        <h1 class="title">
            Upcoming Events
        </h1>
    </section>

    <section class="events full-width" id="upcoming">
        <br />
        <table style="margin: 0 auto;">
            @for (int i = 0; i < 4; i++)
            {
                <tr>

                    @for (int j = 0; j < 2; j++)
                    {
                        if (Model.Count() > x)
                        {
                            <td>
                                <div class="card text-white bg-success mb-3" style="width:95%; margin:0 auto;">
                                    <div class="card-header">Upcoming Event</div>
                                    <div class="card-body">
                                        <h4 class="card-title">@Model.ElementAt(x).Title</h4>
                                        <img src="~/Content/Photos/event.png" style="width:100%; height:50%;" />
                                        <p class="card-text">@Model.ElementAt(x).partialContent</p>
                                        <a href='@Url.Action("single", "event",  new { id = Model.ElementAt(x).ID })' role="button" class="btn btn-warning">More Information</a>
                                    </div>
                                </div>
                            </td>
                        }
                        x++;
                    }

                </tr>
            }
        </table>
    </section>

    <section class="signup full-width" id="signup">
        <br />
        <div class="jumbotron" style="width:50%; margin:0 auto; background:#EBECF0;">
            <h1 class="display-3">Sign Up</h1>
            <p class="lead">You are a couple of seconds a head from joining the easiest and smoothest events management platform.</p>
            <hr class="my-4">
            <p>Just click the sign up button and entering any event will be in a glimpse.</p>
            <p class="lead">
                <a href='@Url.Action("register", "account")' role="button" class="btn btn-primary">Sign Up</a>
            </p>
        </div>
    </section>

    <section class="aboutus full-width" id="about">
        <h1 class="title">
            About Us
        </h1>
        <p class="p1">
            Qr-E is an event management web site it is developed by Amr Hammad during the quarintine in 2020 due to the corona virus<br />
            It is hoped that this website to be usefull in managing events specialy at their begining when every body is entering at<br />
            the gates Every user can signup to enroll in any of the upcoming events. when they are enrolled they have a qr code which<br />
            will give them the authorityto enter the event.This website is to be integrated with an android app used by organizers to scan<br />
            the qr codes and let users in.
        </p>
    </section>
}