﻿@model IEnumerable<Events_Management_System_Version_2._1.Models.User_Event>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "MyEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!(Model.Any()))
{
    <h5>You are not Enrolled in any events</h5>
}
else
{
    int x = 0;

    <section class="upcoming full-width">
        <h1 class="title">
            My Events
        </h1>
    </section>

    <section class="events full-width">
        <br />  
        <table style="margin: 0 auto; min-height:1000px;">
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    @for (int j = 0; j < 2; j++)
                    {
                        if (Model.Count() > x && Model.ElementAt(x).User != null && Model.ElementAt(x).Event != null)
                        {
                            if (string.Equals(User.Identity.GetUserId(), Model.ElementAt(x).User.Id))
                            {
                                <td>
									<div class="card" style="width:300px; height:100px; margin:0 auto;">
										<div class="card-body">
											<h4 class="card-title">@Model.ElementAt(x).Event.Title</h4>
											<a href='@Url.Action("SingleQR", "UserEvent",  new { id = Model.ElementAt(x).ID })' class="card-link">View QR-code</a>
										</div>
									</div>
								</td>
                            }
                        }
                        x++;
                    }
                </tr>
            }
        </table>
    </section>
}