﻿@model Events_Management_System_Version_2._1.Models.User_Event
@Scripts.Render("~/Content/qrcode.min.js")
@{
    ViewBag.Title = "SingleQR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="events full-width" style="min-height:1000px">
    <br />
    <div class="card mb-3" style="max-height:50%; max-width:50%; margin:0 auto;">
        <h3 class="card-header">@Model.Event.Title</h3>
        <div id="QR-area" style="margin:0 auto;"></div>
        <div class="card-footer text-muted">
            @Model.Event.Added_Date
        </div>
    </div>
</section>

@section scripts
{
    <script>
        var qrcode = new QRCode(document.getElementById("QR-area"),
		{
            text: "@Model.Event.Code" + "-" +"@Model.User.Id" ,
            width: 300,
            height: 300,
            colorDark : "#000000",
            colorLight: "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    </script>
}

