﻿@model IEnumerable<Events_Management_System_Version_2._1.Models.Event>
@{
    ViewBag.Title = "AllEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!(Model.Any()))
{
    <h5>No Events Found</h5>
}
else
{

    int x = 0;

    <section class="upcoming full-width">
        <h1 class="title">
            All Events
        </h1>
    </section>

    <section class="events full-width" id="upcoming">
        <br />
        <table style="margin: 0 auto;">
            @for (int i = 0; i < 5; i++)
            {
                <tr>

                    @for (int j = 0; j < 2; j++)
                    {
                        if (Model.Count() > x)
                        {
                            <td>
                                <div class="card text-white bg-success mb-3" style="width:95%; margin:0 auto;">
                                    <div class="card-header">Upcoming Event</div>
                                    <div class="card-body">
                                        <h4 class="card-title">@Model.ElementAt(x).Title</h4>
                                        <img src="~/Content/Photos/event.png" style="width:100%; height:50%;" />
                                        <p class="card-text">@Model.ElementAt(x).partialContent</p>
                                        <a href='@Url.Action("single", "event",  new { id = Model.ElementAt(x).ID })'  role="button" class="btn btn-warning">More Information</a>
                                    </div>
                                </div>
                            </td>
                        }
                        x++;
                    }

                </tr>
            }
        </table>
    </section>

}
