﻿@model Events_Management_System_Version_2._1.Models.Event
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="events full-width">
    <br />
    <div class="card text-white bg-info mb-3" style="max-height: 30%; max-width:50%; margin: 0 auto;">
        <div class="card-header">Event</div>
        <div class="card-body">
            <h4 class="card-title">@Model.Title</h4>
            <img src="~/Content/Photos/event.png" style="width:100%; height:50%;" />
            <p class="card-text">@Model.fullContent <br /> Event at @Model.Added_Date</p>

            @using (Html.BeginForm("Enroll", "Event"))
            {
                @Html.HiddenFor(n => n.ID)
                <button type="submit" class="btn btn-danger">Buy Ticket</button>
            }
        </div>
    </div>
</section>